<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @assignment.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @assignment.user %>
</p>

<p>
  <strong>Task:</strong>
  <%= @assignment.task %>
</p>

<p>
  <strong>Time:</strong>
  <%= @assignment.time %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @assignment.comment %>
</p>

<p>
  <strong>Consumed:</strong>
  <%= @assignment.consumed %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
