<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :identifier %>
    <%= f.association :task_type %>
    <%= f.association :task_status %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :project %>
    <%= f.association :project_bundle %>
    <%= f.association :task %>
    <%= f.input :estimated_time %>
    <%= f.input :consumed_time %>
    <%= f.input :remaining_time %>
    <%= f.input :planned_time %>
    <%= f.input :begin_date %>
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
