<%= begin_line %>
    <% if !task.task_type.nil? %>
        <span class="badge badge-secondary"><%= task.task_type %></span> -
    <% end %>
    <%= task.name %> - <strong><%= task.estimated_time %></strong>
<% task.tasks.each do |sub_task| %>
    <%= render 'tasks/show_task_and_sub_tasks', task: sub_task, begin_line: (( defined? begin_time) ? '' : begin_line) + '-' %><br>
<% end %>