<h1><%= t('.title') %><span class="badge badge-secondary"><%= @tasks.count %></span></h1>

<div class="row">
  <div class="col-2">
    <legend class="filter-title"><%= t :search_title %></legend>
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :identifier_cont, {placeholder: t('activerecord.attributes.task.identifier')} %>
        <%= f.search_field :task_type_cont, {placeholder: t('activerecord.attributes.task.task_type')} %>
        <%= f.search_field :task_status_cont, {placeholder: t('activerecord.attributes.task.task_status')} %>
        <%= f.search_field :name_cont, {placeholder: t('activerecord.attributes.task.name')} %>
        <%= f.search_field :description_cont, {placeholder: t('activerecord.attributes.task.description')} %>
        <%= f.search_field :project_cont, {placeholder: t('activerecord.attributes.task.project')} %>
        <%= f.search_field :project_bundle_cont, {placeholder: t('activerecord.attributes.task.project_bundle')} %>
        <%= f.search_field :task_cont, {placeholder: t('activerecord.attributes.task.task')} %>
        <%= f.search_field :estimated_time_cont, {placeholder: t('activerecord.attributes.task.estimated_time')} %>
        <br>
        <br>
        <%= f.submit class: 'btn btn-search-filter btn-sm btn-outline-primary' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col">
    <div class="col-md-3 btn-new-top">
      <% if can? :create, Task %>
        <%= link_to (fa_icon('plus') + " " + t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    </div>
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
              <th><%= sort_link(@q, :identifier, default_order: :asc) %></th>
              <th><%= sort_link(@q, :task_type, default_order: :asc) %></th>
              <th><%= sort_link(@q, :task_status, default_order: :asc) %></th>
              <th><%= sort_link(@q, :name, default_order: :asc) %></th>
              <th><%= sort_link(@q, :description, default_order: :asc) %></th>
              <th><%= sort_link(@q, :project, default_order: :asc) %></th>
              <th><%= sort_link(@q, :project_bundle, default_order: :asc) %></th>
              <th><%= sort_link(@q, :task, default_order: :asc) %></th>
              <th><%= sort_link(@q, :estimated_time, default_order: :asc) %></th>
              <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
                <td><%= task.identifier %></td>
                <td><%= task.task_type %></td>
                <td><%= task.task_status %></td>
                <td><%= task.name %></td>
                <td><%= task.description %></td>
                <td><%= task.project %></td>
                <td><%= task.project_bundle %></td>
                <td><%= task.task %></td>
                <td><%= task.estimated_time %></td>
                <td>
              <%= link_to fa_icon('eye').html_safe, task %>
              <% if can? :edit, Task %>
                <%= link_to fa_icon('pencil').html_safe, edit_task_path(task) %>
              <% end %>
              <% if can? :destroy, Task %>
                <%= link_to fa_icon('times').html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @tasks %>
  </div>
</div>