<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Temps estimé</th>
        </tr>
    </thead>
    <tbody>

    <% @project_bundle.tasks.without_parent_task.each do |task| %>
        <tr>
            <th rowspan="2" class="align-middle">
                <% if !task.project.bug_tracker.nil? %>
                    <%= link_to task.identifier.to_s, task.project.bug_tracker + task.identifier.to_s, target: "_blank" %>
                <% else %>
                    <%= task.identifier %>
                <% end %>
            </th>
            <th><%= task.name %></th>
            <th rowspan="2" class="align-middle text-center"><%= task.estimated_time %></th>
        </tr>
        <tr>
            <td>
            <% if !task.tasks.empty? %>
                <% task.tasks.each do |sub_task| %>
                    <%= render 'tasks/show_task_and_sub_tasks', task: sub_task, begin_line: '' %>
                <% end %>
            <% else %>
                <i>Pas de sous-tache</i>
            <% end %>
            </td>
        </tr>
    <% end %>

    </tbody>
</table>