<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery.name %>
</p>

<p>
  <strong>Project bundle:</strong>
  <%= @delivery.project_bundle %>
</p>

<p>
  <strong>Date:</strong>
  <%= @delivery.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @delivery.description %>
</p>

<%= render 'show_bundle_backlog', project_bundle: @delivery.project_bundle %>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
